.menuSection {
  position: relative;
  padding: 0;
  & h2 {
    position: absolute;
    top: $space1;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 2;
    color: $color3;
  }
}
.sliderWrap {
  position: relative;
  min-height: 700px;
  padding: 8rem $space1 0;
  background-image: url("../assets/jpg/menu.jpg");
  background-size: cover;
  background-position: right center;
  opacity: 0.8;
  color: white;
}
.slideWrap {
  width: 40rem;
  margin-left: $space1;
}
h4 {
  padding: 0 0 1.5rem 8vw;
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
h6 {
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 2rem;
}
.menuH6MarginTop {
  margin-top: 1.5rem;
}
.menuSection .breakfastH6 {
  margin: 0 0 1.5rem 6.5vw;
  color: $color3;
}
.menuH6Price {
  float: right;
  font-weight: 400;
}
.menuP,
.menuSection h6,
.menuSection h4 {
  color: $color1;
}
.menuP,
.menuH6Price {
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
  line-height: 2rem;
  font-style: italic;
  letter-spacing: 1px;
}
.menuDots {
  padding-left: 0.3rem;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.3rem;
  font-style: italic;
  font-weight: 400;
}

.menuPrice {
  float: right;
}
#media1400,
#media1600,
#media1750,
#media1900 {
  display: none;
}
@media (min-width: 1400px) {
  h4 {
    font-size: 3rem;
  }
  .sliderWrap {
    padding-bottom: 10rem;
  }
  .slideWrap {
    width: 46rem;
  }
  h6 {
    line-height: 2.5rem;
    font-size: 1.4rem;
  }
  .menuP,
  .menuH6Price {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  #media1400 {
    display: inline;
  }
}
@media (min-width: 1600px) {
  h4 {
    font-size: 3.2rem;
  }
  .sliderWrap {
    padding-top: 11rem;
  }
  .slideWrap {
    width: 49rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  .menuP,
  .menuH6Price {
    font-size: 1.6rem;
  }
  #media1600 {
    display: inline;
  }
}
@media (min-width: 1750px) {
  h4 {
    font-size: 3.6rem;
  }
  .sliderWrap {
    padding-top: 14rem;
  }
  .slideWrap {
    width: 55rem;
  }
  h6 {
    line-height: 2.8rem;
    font-size: 1.7rem;
  }
  .menuP,
  .menuH6Price {
    line-height: 2.8rem;
    font-size: 1.8rem;
  }
  #media1750 {
    display: inline;
  }
}
@media (min-width: 1900px) {
  .sliderWrap {
    padding-bottom: 13rem;
  }
  h4 {
    font-size: 3.8rem;
  }
  .sliderWrap {
    padding-top: 16rem;
  }
  .slideWrap {
    width: 63rem;
  }
  h6 {
    line-height: 3rem;
    font-size: 1.9rem;
  }
  .menuP,
  .menuH6Price {
    line-height: 3rem;
    font-size: 2rem;
  }
  #media1900 {
    display: inline;
  }
}
