.testimonialsSection {
  position: relative;
  height: 100vh;
  background-color: $color3;
}
.testimonialsH3 {
  color: $color1;
}
.testimonialsWrap {
  position: absolute;
  top: 55%;
  left: 25vw;
  width: 50vw;
  transform: translateY(-50%);
}
.clientName {
  font-size: 1.4rem;
  text-align: center;
  color: $color2;
}
.clientPhoto {
  width: 25%;
  border: solid 2px $color2;
  border-radius: 50%;
}
.testimonialsText {
  max-width: 70%;
  font-family: "EB Garamond", serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-style: italic;
  text-align: center;
  text-align-last: center;
  letter-spacing: 1px;
  font-weight: 700;
  color: $color2;
}
.testimonialsCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: $color1;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#testimonialsCircle1 {
  top: 67%;
  left: -21vw;
  width: 5rem;
  height: 5rem;
  &:hover {
    background-color: $blue;
  }
}
#testimonialsCircle2 {
  top: 80%;
  left: -10vw;
  width: 8rem;
  height: 8rem;
  &:hover {
    background-color: $olive;
  }
}
#testimonialsCircle3 {
  // big circle
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 32rem;
  height: 32rem;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 50%;
  background-color: $color1;
}
#testimonialsCircle4 {
  top: 11%;
  left: 50vw;
  width: 9rem;
  height: 9rem;
  &:hover {
    background-color: $sea;
  }
}
#testimonialsCircle5 {
  top: -6%;
  left: 64vw;
  width: 7rem;
  height: 7rem;
  &:hover {
    background-color: $sand;
  }
}
#testimonialsCircle6 {
  top: -20%;
  left: 58vw;
  width: 4rem;
  height: 4rem;
  &:hover {
    background-color: $skyBlue;
  }
}
.clientPhotoSmall {
  width: 70%;
  border: 2px solid $color2;
  border-radius: 50%;
}
@media (min-width: 1400px) {
  .testimonialsWrap {
    margin-top: 1rem;
  }
  #testimonialsCircle1 {
    width: 6rem;
    height: 6rem;
  }
  #testimonialsCircle2 {
    width: 9rem;
    height: 9rem;
  }
  #testimonialsCircle3 {
    // big circle
    width: 33rem;
    height: 33rem;
  }
  .clientPhoto {
    width: 30%;
  }
  .clientName,
  .testimonialsText {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  #testimonialsCircle4 {
    width: 10rem;
    height: 10rem;
  }
  #testimonialsCircle5 {
    width: 8rem;
    height: 8rem;
  }
  #testimonialsCircle6 {
    width: 5rem;
    height: 5rem;
  }
  .clientPhotoSmall {
    width: 75%;
  }
}
@media (min-width: 1500px) {
  #testimonialsCircle1 {
    width: 6.5rem;
    height: 6.5rem;
  }
  #testimonialsCircle2 {
    width: 9.5rem;
    height: 9.5rem;
  }
  #testimonialsCircle3 {
    // big circle
    width: 35rem;
    height: 35rem;
  }
  .clientPhoto {
    width: 32.5%;
  }
  .clientName,
  .testimonialsText {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  #testimonialsCircle4 {
    width: 10.5rem;
    height: 10.5rem;
  }
  #testimonialsCircle5 {
    width: 8.5rem;
    height: 8.5rem;
  }
  #testimonialsCircle6 {
    width: 5.5rem;
    height: 5.5rem;
  }
  .clientPhotoSmall {
    width: 77.5%;
  }
}
@media (min-width: 1600px) {
  #testimonialsCircle1 {
    width: 7rem;
    height: 7rem;
  }
  #testimonialsCircle2 {
    width: 10rem;
    height: 10rem;
  }
  #testimonialsCircle3 {
    // big circle
    width: 37rem;
    height: 37rem;
  }
  .clientPhoto {
    width: 35%;
  }
  .clientName,
  .testimonialsText {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  #testimonialsCircle4 {
    width: 11rem;
    height: 11rem;
  }
  #testimonialsCircle5 {
    width: 9rem;
    height: 9rem;
  }
  #testimonialsCircle6 {
    width: 6rem;
    height: 6rem;
  }
}
@media (min-width: 1700px) {
  #testimonialsCircle1 {
    width: 7.5rem;
    height: 7.5rem;
  }
  #testimonialsCircle2 {
    width: 10.5rem;
    height: 10.5rem;
  }
  #testimonialsCircle3 {
    // big circle
    width: 39rem;
    height: 39rem;
  }
  .clientPhoto {
    width: 37.5%;
  }
  .clientName,
  .testimonialsText {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
  #testimonialsCircle4 {
    width: 11.5rem;
    height: 11.5rem;
  }
  #testimonialsCircle5 {
    width: 9.5rem;
    height: 9.5rem;
  }
  #testimonialsCircle6 {
    width: 6.5rem;
    height: 6.5rem;
  }
}
@media (min-width: 1800px) {
  #testimonialsCircle1 {
    width: 8rem;
    height: 8rem;
  }
  #testimonialsCircle2 {
    width: 11rem;
    height: 11rem;
  }
  #testimonialsCircle3 {
    // big circle
    width: 41rem;
    height: 41rem;
  }
  .clientPhoto {
    width: 38%;
  }
  .clientName,
  .testimonialsText {
    font-size: 2rem;
    line-height: 3rem;
  }
  #testimonialsCircle4 {
    width: 12rem;
    height: 12rem;
  }
  #testimonialsCircle5 {
    width: 10rem;
    height: 10rem;
  }
  #testimonialsCircle6 {
    width: 7rem;
    height: 7rem;
  }
}
@media (min-width: 1900px) {
  #testimonialsCircle1 {
    width: 8.5rem;
    height: 8.5rem;
  }
  #testimonialsCircle2 {
    width: 11.5rem;
    height: 11.5rem;
  }
  #testimonialsCircle3 {
    // big circle
    width: 43rem;
    height: 43rem;
  }
  .clientName,
  .testimonialsText {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  #testimonialsCircle4 {
    width: 12.5rem;
    height: 12.5rem;
  }
  #testimonialsCircle5 {
    width: 10.5rem;
    height: 10.5rem;
  }
  #testimonialsCircle6 {
    width: 7.5rem;
    height: 7.5rem;
  }
}
