@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  .headerBackground {
    flex-grow: 1;
    margin: -100px 0 0 -60px;
  }
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3.2rem;
    bottom: 5.5rem;
    height: 170px;
    padding: 10px;
    border: 2px solid $color2;
    border-radius: 50%;
    background-color: #fee39e;
    z-index: 6;
  }
  .logo {
    height: 80%;
    margin: 10px auto;
    border-radius: 50%;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 32vw;
    margin-bottom: 50px;
    background-color: $color1;
    border-left: 1px solid $color2;
  }
  .rope {
    width: 90%;
  }
  #ropeBottom {
    transform: rotate(180deg);
  }
  ul {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    margin: 1vw 0;
    border-radius: 50%;
    list-style-type: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }
  .liOlive {
    color: #fff;
    background-color: $olive;
  }
  .liBlue {
    color: #fff;
    background-color: $blue;
  }
  .liSea {
    color: $color2;
    background-color: $sea;
  }
  .liSand {
    color: $color2;
    background-color: $sand;
  }
  .liGreen {
    color: #fff;
    background-color: $green;
  }
  .liSkyBlue {
    color: #fff;
    background-color: $skyBlue;
  }
}

@media (min-width: 1300px) {
  .logoContainer {
    left: 4rem;
    bottom: 6rem;
  }
  li {
    width: 170px;
    height: 170px;
  }
}
@media (min-width: 1400px) {
  .headerBackground {
    margin: -120px 0 0 -60px;
  }
  .logoContainer {
    left: 5rem;
    bottom: 7rem;
  }
  nav {
    margin-bottom: 60px;
  }
  li {
    width: 180px;
    height: 180px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1500px) {
  .logoContainer {
    left: 6rem;
    bottom: 8rem;
  }
  ul {
    grid-template-columns: 45% 45%;
    margin-left: 10%;
  }
  li {
    width: 190px;
    height: 190px;
  }
}
@media (min-width: 1600px) {
  .logoContainer {
    left: 7rem;
    bottom: 9rem;
  }
  li {
    width: 200px;
    height: 200px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1700px) {
  .logoContainer {
    left: 8rem;
    bottom: 10rem;
  }
  nav {
    width: 35vw;
  }
  li {
    width: 215px;
    height: 215px;
  }
}
@media (min-width: 1800px) {
  .headerBackground {
    margin: -140px 0 0 -60px;
  }
  .logoContainer {
    left: 9rem;
  }
  li {
    width: 230px;
    height: 230px;
    font-size: 1.4rem;
  }
}
@media (min-width: 1900px) {
  .logoContainer {
    left: 10rem;
  }
  li {
    width: 245px;
    height: 245px;
    font-size: 1.5rem;
  }
}
@media (min-width: 2000px) {
  .logoContainer {
    left: 11rem;
  }
  li {
    width: 255px;
    height: 255px;
    font-size: 1.6rem;
  }
}
