.sliderArrow {
  display: block;
  width: 2rem;
  height: 2rem;
  top: 16vw;
  position: absolute;
  cursor: pointer;
  z-index: 3;
}
#menuArrowLeft {
  left: calc(-4.5rem + 8vw);
}
#testimonialsArrowLeft {
  top: 55%;
  left: calc(50vw - 23rem);
}
#menuArrowRight {
  left: calc(42.5rem + 8vw);
}
#testimonialsArrowRight {
  top: 55%;
  right: calc(50vw - 24.5rem);
}

@media (min-width: 1200px) {
  .sliderArrow {
    top: 60%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1400px) {
  #menuArrowRight {
    left: calc(48.5rem + 8vw);
  }
  #testimonialsArrowRight {
    right: calc(50vw - 24.5rem);
  }
}
@media (min-width: 1600px) {
  .sliderArrow {
    top: 55%;
    width: 2.5rem;
    height: 2.5rem;
  }
  #menuArrowLeft {
    left: calc(-5.5rem + 8vw);
  }
  #menuArrowRight {
    left: calc(51.7rem + 8vw);
  }
  #testimonialsArrowLeft {
    left: calc(50vw - 25rem);
  }
  #testimonialsArrowRight {
    right: calc(50vw - 26.5rem);
  }
}
@media (min-width: 1750px) {
  .sliderArrow {
    top: 60%;
    width: 3rem;
    height: 3rem;
  }
  #menuArrowRight {
    left: calc(57.5rem + 8vw);
  }
  #testimonialsArrowLeft {
    left: calc(50vw - 27rem);
  }
  #testimonialsArrowRight {
    right: calc(50vw - 28.5rem);
  }
}
@media (min-width: 1900px) {
  .sliderArrow {
    width: 3.5rem;
    height: 3.5rem;
  }
  #menuArrowLeft {
    left: calc(-6.4rem + 8vw);
  }
  #menuArrowRight {
    left: calc(66rem + 8vw);
  }
  #testimonialsArrowLeft {
    top: 55%;
    left: calc(50vw - 29rem);
  }
  #testimonialsArrowRight {
    right: calc(50vw - 30.5rem);
  }
}
