@import "variables";
@import "mixins";

@import "../components/header/header";
@import "../components/about/about";
@import "../components/menu/menu";
@import "../components/testimonials/testimonials";
@import "../components/contact/contact";

@import "../components/menu/slider-arrows";

@import "footer";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,400&family=Great+Vibes:wght@400&family=Berkshire+Swash&family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

h1,
h2,
h3 {
  margin-bottom: 1vw;
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
  text-align: center;
  color: $color2;
}

p {
  letter-spacing: 1px;
}

p,
li {
  font-family: "Lato", sans-serif;
}

.aboutAndPhotoWrap {
  display: flex;
  padding-left: $space1;
  background-color: $color1;
  border-top: 1px solid $color2;
  & .restaurantPhoto {
    margin: $space1;
    border: 2px solid $color2;
    border-radius: 40px;
  }
}

section {
  padding: $space1;
  background-color: $color1;
}
